<div class="container">
	<div class="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-4">
			<p class="text-center"><a href="http://www.pushingsocial.com"><%= image_tag "logo_black_transparent.png" %></a></p>
		</div>
		<div class="col-lg-4">
			
		</div>
	</div>
</div>
<div class="container">
	<div class="col-lg-12">
		<h1 class="lead text-center">How I Got My First 100 Blog Readers</h1>
		<p class="text-center lead">Share how you hustled to get your first blog readers.</p>
		<p class="text-center"><%= link_to "Tell Your Story", new_user_path, :class => "btn btn-primary btn-lg" %></p>
		<hr>
	</div>
	<br>
</div>


<div class="row2">
<div class="col-lg-12">
  <% @users.each do |user| %>
	<% if user.approval=='y' %>
    <div class="col-lg-3">    
      <p class="text-center"><%= link_to (image_tag user.avatar.url(:medium)), user_path(user) %></p>
      <p class="text-center"><strong><%= user.name %></strong></p>
      <p class="text-center text-info" style="padding-bottom:20px;"><small><%= user.nickname %></small></p>
    </div>

    <% end %>
  <% end %>
</div>
</div>

</div>

<%= render 'layouts/footer' %>